.task-item {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 1em;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1em
}

.task-item div {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
